h1{
    color: #4CAF50;
    text-align: center;
}
h2{
    color: #4CAF50;
}

.centralizado{
    text-align: center;
}


.alink{
    color: #4CAF50;
}

.pcopi{
    font-size: 15px;
    text-align: center;
}